
  :root.theme-dark {
   --bc-image: url(../images/cover-image-dark.png);
  --bc-color: #000028;
  --h1-color: #DB00FF;
  --accent-color: #FF0070;
  --header-text-color-rec: #FF0070;
  --title-color: #000028;
  }

  .theme-dark .header__rec {
    display: block;
  }
