/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bc-image: url(../images/cover-image-light.png);
  --bc-color: #FFF1F7;
  --h1-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --title-color: #353430;
  --header-text-color-rec: #353430;
  --main-text-color: #353430;
  
}

.theme-light .header__rec {
  display: none;
}


@media (prefers-color-scheme: light) {
  :root {
  --bc-image: url(../images/cover-image-light.png);
  --bc-color: #FFF1F7;
  --h1-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --header-text-color-rec: #353430;
  --title-color: #353430;
  --main-text-color: #353430;
  
}

  .header__rec {
  display: none;
  }

}