/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bc-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bc-color);
  
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  font-family: var(--main-font, 'IBM Plex Mono'), sans-serif;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--h2-color);
  border-right: 1px solid var(--h2-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--h2-color);
  border-bottom: 1px solid var(--h2-color);
}

.header__rec {
  position: absolute;
  top: var(--inset);
  right: calc(10px + 9px);
  color: var(--h2-color);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
}

.header__rec::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: var(--h2-color);
  box-shadow: 0 0 7px var(--h2-color);
  margin-inline-start: 10px;
  margin-block-end: 2px;
}

.header__theme-menu {
  grid-row: 1;
  justify-self: flex-end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--h2-color);
  border: 1px solid transparent;
  padding: 2px 13px;
  font-family: var(--main-font, 'IBM Plex Mono'), sans-serif;
  font-size: 19px;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  border: 1px solid var(--h2-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--botton-hover);
}

.title{
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--font-bold);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--h1-color);
}

.header__paragrath {
  max-inline-size: 355px;
  max-block-size: 117px;
  justify-self: flex-end;
  align-self: center;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--h3-color);
  font-size: 18px;
  font-weight: var(--font-bold);
  line-height: 23.4px;
  
}

main {
  padding-inline: 10px;
  padding-block: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: calc(var(--inset) * 2);
  font-family: var(--main-font);
  font-size: 18px;
  color: var(--main-text-color);
  font-weight: normal;
  line-height: 23.4px;
}

.section__how-to-be-in-focus-title {
  margin-bottom: 10px;
}

h4.title-decor {
  font-weight: var(--font-normal);
}

.section__title {
  color: var(--h2-color);
  font-weight: var(--font-bold);
  font-size: inherit;
  
}

.section__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section__link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section__link:focus-visible {
  border: 1px solid var(--main-text-color);
}

.section__galery {
  display: grid;
  gap: 10px;
}

.section__galery-image {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  font-family: var(--main-font, 'IBM Plex Mono'), sans-serif;
}

@media (width >=  768px) {
  :root {
    --inset: 20px;
  }

  .header {
    min-height: 1024px;
    padding-inline-start: 0;
    padding-inline-end: 20px;
  }

  .title {
    font-size: clamp (7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__paragrath {
    max-inline-size: 365px;
  }

  main {
    padding-inline: 20px;
    padding-block: 60px;
    gap: 80px;
}

  .section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section__list {
    grid-column: 2/4;
  }

  .section__no-focus-list {
    grid-column: span 3;
  }

  .section__no-focus-list-item {
    display: flex;
   flex-direction: column;
    gap: 10px;
  }

  .section__how-to-be-in-focus {
    gap: 21px;
  }

  .section__galery {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
  }

  .section__galery-title {
    grid-column: 1/4;
  }

  .section__galery-image-sunset {
    grid-column: 1/3;
  }

  .section__galery-image-ice-cream {
    grid-column: 3/4;
    grid-row: 2/4;
  }

  .section__galery-image-tape {
    grid-column: 1/2;
    grid-row: 3/5;
  }
  
  .section__galery-image-street {
    grid-column: 2/4;
    grid-row: 4/5;
  }
  .footer {
    min-height: 1024px;
  }
}

@media (width >= 1024px) {
  
  :root{
    --inset: 20px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    min-height: 729px;
    padding-inline-start: 0;
    padding-inline-end: 20px;
  }

  .decorated-zone::after {
  top: 0;
  }

  .header__rec {
    top: 0;
  }

  .header__theme-menu {
    grid-row: 1;
    justify-self: center;
    align-self: flex-start;
}  

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-block-start: 20px;
}

  .header__paragrath {
    max-inline-size: 491px;
    max-block-size: 71px;
    align-self: center;
  }

  main {
  padding-inline: 20px;
  padding-block: 60px;
  gap: 80px;
}

.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section__list {
  grid-column: 2/4;
}

.section__no-focus-list{
  grid-column: 1/4;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.footer {
    min-height: 768px;
  }
}