/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bc-image);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bc-color);
}
